#root {
  max-width: 1280px;
  margin: 0;
  padding: 0;
  text-align: center;
}


.main-cont{
  height: 100vh;
  width: 100vw;
  display: flex;
}

.left-bar{
  width: 15%;
  height: 100%;
  background-color: #04006b;
}
.fa-icon{
  font-size: larger;
}

.left-opt{
  color: white;
}

.opt{
  cursor: pointer;
}

.right-cont{
  width: 85%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.logo{
  width: 90%;
  margin-bottom: 50px;
}

.header{
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  padding-left: 10px;
  font-weight: 600;
  color: white;
  flex-direction: column;
  background-color: rgb(80, 80, 255);
  margin-bottom: 5px;
}

.cards{
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 15px;
}

.card-right{
  display: flex;
  flex-direction: column;
  align-items: end;
  font-weight: 600;
}

.card{
  width: 20%;
  height: 100%;
  background-color: red;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
}

.right-icons{

  width: 100%;
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: center;
  align-items: center;
  gap: 20px;
  color: black !important;
}